body {
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#header {
  background-image: url("/images/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  margin-top: -10px;
  margin-right: -8px;
  margin-left: -8px;
}

#header-name {
  padding-top: 250px;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-top: 0;
}

#header p {
  color: white;
  font-size: 20px;
}

p {
  padding-left: 15%;
  padding-right: 15%;
}

nav {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: "Hind", "sans-serif";
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav a {
  padding-left: 5px;
  padding-right: 5px;
}

nav a:visited,
nav a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: slategray;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  color: white;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

#down-arrow {
  padding-top: 200px;
  width: 50px;
}

#about,
#about h2,
#contact h2 {
  padding: 30px;
  color: black;
}

#headshot {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about p {
  column-count: 2;
  font-family: "Muli", sans-serif;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#skills-background {
  background-image: url("/images/skills-background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-right: -8px;
  margin-left: -8px;
}

#skills-background h2 {
  padding-top: 200px;
}

#skills img {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#skills p {
  text-align: center;
  font-family: "Muli", sans-serif;
}

#projects-background {
  background-image: url("/images/projects-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-right: -38px;
  margin-left: -38px;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

#projects-background h2 {
  padding-top: 200px;
}

#projects {
  padding: 30px;
}

#projects p {
  text-align: center;
  font-family: "Muli", sans-serif;
}

.project-shots {
  width: 560px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-links {
  margin-top: 1em;
  text-align: center;
}

.project-link {
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-color: black;
  color: black;
  padding: 1em;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

button a {
  color: black !important;
  text-decoration: none !important;
}

button a:visited {
  color: black !important;
  text-decoration: none !important;
}

#contact {
  text-align: center;
  font-family: "Muli", sans-serif;
  margin-top: -50px;
  margin-bottom: 30px;
}

#contact img {
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 780px) {
  #header {
    background-image: url("/images/header.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-right: -8px;
    margin-left: -8px;
  }

  #down-arrow {
    padding-top: 120px;
    width: 50px;
  }

  #projects img,
  #skills-background,
  #projects-background {
    height: 100%;
    margin-right: -8px;
    margin-left: -8px;
  }

  #projects-background {
    margin-right: -38px;
    margin-left: -38px;
    background-attachment: scroll;
  }

  .project-shots {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #skills img {
    width: 80%;
  }

  #skills-background h2 {
    padding-top: 50px;
  }

  #projects-background h2 {
    padding-top: 50px;
  }

  iframe {
    width: 60%;
    height: 50%;
  }

  #about p {
    column-count: 1;
    padding: 10px;
    text-align: center;
  }

  #projects p {
    padding: 10px;
  }

  #header,
  #skills-background,
  #projects-background {
    background-attachment: scroll;
  }
}

@media only screen and (orientation: landscape) {
  #header, #skills-background, #projects-background {
    background-attachment: scroll;
  }

  #down-arrow {
    padding-top: 10px;
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .project-image {
    text-align: center;
  }

  .project-shots {
    display: inline-block;
  }
}