body {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#header {
  background-image: url(/images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -50px;
  height: 500px;
  text-align: center;
  width: 103%;
  margin-left: -1%;
  margin-right: -1%;
}

#header-name {
    padding-top: 200px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

nav {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Hind', 'sans-serif';
    font-size: small;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

nav a {
    padding-left: 5px;
    padding-right: 5px;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #A2A2A2;
}

h2, h3 {
    text-align: center;
}

#about {
    padding: 30px;
}

#headshot {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about p {
    column-count: 2;
    font-family: 'Muli', sans-serif;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#skills img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#skills p {
    text-align: center;
    font-family: 'Muli', sans-serif;
}

#projects {
    padding: 30px;
}

#projects p {
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.project-shots {
    width: 560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    text-align: center;
    font-family: 'Muli', sans-serif;
}

#contact img {
    margin-left: auto;
    margin-right: auto;
}